@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* body {
  font-family: 'ProductSansRegular', sans-serif;
} */

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

#layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.footer {
  margin-top: auto;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

@font-face {
  font-family: 'ProductSansRegular';
  src: url('../public/fonts/ProductSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSansItalic';
  src: url('../public/fonts/ProductSansItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSansBold';
  src: url('../public/fonts/ProductSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'ProductSansRegular', sans-serif;
}

#font-gbold {
  font-family: 'ProductSansBold', sans-serif;
}



